Flask==0.9
Flask-SQLAlchemy==0.16
Jinja2==2.6
Mako==0.7.1
MarkupSafe==0.15
SQLAlchemy==0.7.8
Werkzeug==0.8.3
alembic==0.3.5
distribute==0.6.27
ipython==0.13
psycopg2==2.4.5
requests==0.13.2
wsgiref==0.1.2
